#jsonb_columns_configuration_use_work_time {
  width: auto;
  margin-bottom: 1rem;
}

#jsonb_columns_configuration_use_work_time+#work-times {
  display: none;
}

#jsonb_columns_configuration_use_work_time:checked+#work-times {
  display: block;
}
