<%= render PageWrappers::AuthComponent.new do %>
  <div class="user-form">
    <h2><%= t('views.users.registrations.confirm.title') %></h2>
    <p><%= t('views.users.registrations.confirm.description') %></p>
  </div>
<% end %>
