<p>Greeting, dear user!</p>
<p>At least one of your repositories has access error during last <%= Import::SyncRepositoriesService::NOT_ACCESSABLE_LIMIT_TICKS %> hours</p>
<p>To check current access status - please visit <%= link_to 'Companies page', companies_url %></p>
<br />
<p>You received this message because you enabled receiving access error notifications.</p>
<p>To disable these messages - please visit <%= link_to 'Profile page', profile_url %></p>
