#how-it-works {
  h2 {
    margin-top: 2rem;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    padding: 0 0 0 1rem;
    margin-bottom: 1.25rem;

    li {
      margin-bottom: .5rem;
      line-height: 1.5rem;
    }
  }
}
