#welcome-box {
  margin: 6rem auto;

  h1 {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 2rem;

    a {
      margin-top: 1rem;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

#benefits-box {
  max-width: 70rem;
  margin: 0 auto 6rem;

  h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1rem;
      font-size: 1.1rem;
      line-height: 2rem;
    }
  }
}

#slack-box {
  margin: 0 auto 6rem;

  h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 40rem) {
  #welcome-box {
    margin: 3rem auto;
  }

  #benefits-box, #slack-box {
    margin: 0 0 3rem;
  }

  #slack-box {
    flex-direction: column-reverse;
  }
}
