@import '../../general/colors.scss';

#welcome-box {
  margin: 6rem auto;

  h1 {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 2rem;

    a {
      margin-top: 1rem;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

#benefits-box {
  max-width: 84rem;
  margin: 0 auto 6rem;

  h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  #benefits-list {
    display: flex;
    flex-wrap: wrap;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33.33%;
      padding: 1.25rem;
      margin-bottom: 1rem;

      h3 {
        font-size: 1.35rem;
        line-height: 1.75rem;
      }
      
      p {
        font-size: 1.1rem;
        line-height: 2rem;
        text-align: center;
        color: $gray500;
      }

      &:hover {
        background: $white;
      }
    }
  }
}

#slack-box {
  margin: 0 auto 6rem;

  h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 60rem) {
  #benefits-box {
    #benefits-list {
      div {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 40rem) {
  #welcome-box {
    margin: 3rem auto;
  }

  #benefits-box {
    #benefits-list {
      div {
        width: 100%;
      }
    }
  }

  #benefits-box, #slack-box {
    margin: 0 0 3rem;
  }

  #slack-box {
    flex-direction: column-reverse;
  }
}
