@import '../../general/colors.scss';

#token-description-box {
  p {
    margin-bottom: .5rem;
  }

  .ul-header {
    margin: 2rem 0 .5rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;

    li {
      margin-bottom: .5rem;
      line-height: 1.5rem;

      strong {
        font-weight: 600;
        color: $red500;
      }
    }
  }

  img {
    margin-bottom: 1rem;
  }
}
