<div class="py-6 px-8">
  <div class="grid lg:grid-cols-2 gap-8 mb-4">
    <div>
      <%=
        render Views::Shared::CheckBoxComponent.new(
          form: form,
          label: 'Private',
          field: :private,
          checked: !!@company.configuration.private
        )
      %>
    </div>
    <div>
      <p>If this configuration enabled then company's developers can't have access to insights. If disabled - developers will see insights immediately after login. Access permissions will change after the next synchronization.</p>
    </div>
  </div>
</div>
