<div class="py-6 px-8">
  <div class="grid grid-cols-2 gap-8">
    <div>
      <div class="form-field">
        <%= form.select :average_type, options_for_select(@average_type_values, @company.configuration.average_type), {}, { class: 'form-value' } %>
      </div>
    </div>
    <div>
      <p>You can select what type of average calculation to use: arithmetic mean, geometric mean, median, etc.</p>
    </div>
  </div>
</div>
