<div class="py-6 px-8">
  <div class="grid grid-cols-2 gap-8">
    <div>
      <% if @company.premium? %>
        <div class="flex flex-wrap mb-4">
          <%= form.fields :insight_fields do |fields| %>
            <% JsonbColumns::Insight.attribute_names.each do |attribute_name| %>
              <div class="w-1/2 mb-2">
                <%=
                  render Views::Shared::CheckBoxComponent.new(
                    form: fields,
                    label: attribute_name.split('_').join(' ').capitalize,
                    field: attribute_name.to_sym,
                    checked: @company.configuration.insight_fields ? @company.configuration.insight_fields[attribute_name] : false,
                    position: :right
                  )
                %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="form-field">
          <%= form.label :main_attribute, 'Main attribute for sorting insights', class: 'form-label' %>
          <%= form.select :main_attribute, options_for_select(@main_attribute_values, @company.configuration.main_attribute), {}, { class: 'form-value' } %>
        </div>
      <% else %>
        <p>This configuration is available for premium accounts.</p>
      <% end %>
    </div>
    <div>
      <p>If this configuration enabled then you can select specific insight attributes to calculate and render such information at insight tables.</p>
    </div>
  </div>
</div>
