<div class="grid lg:grid-cols-2 gap-8 mb-8">
  <div>
    <div class="form-field">
      <%= form.label :long_time_review_hours, 'Long time review (hours)', class: 'form-label' %>
      <%= form.text_field :long_time_review_hours, placeholder: 48, class: 'form-value' %>
    </div>
  </div>
  <div>
    <p>You can set the time after which the request will be considered as long time and notifications about this will be sent.</p>
    <p class="mt-2">By default this period is equal is 48 hours.</p>
  </div>
</div>
