<div class="py-6 px-8">
  <div class="grid lg:grid-cols-2 gap-8 mb-8">
    <div>
      <%= form_with url: company_transfer_path(company_id: @company.uuid), method: :post do |form| %>
        <div class="form-field">
          <%= form.label :user_uuid, "Target user's UUID", class: 'form-label' %>
          <%= form.text_field :user_uuid, placeholder: 'd878353f-892c-4650-8cc7-0810a2ec461a', class: 'form-value w-full' %>
        </div>
      <%= form.submit 'Transfer', class: 'btn-primary btn-danger' %>
    <% end %>
    </div>
    <div>
      <p class="mb-4">You can transfer company's ownership to another user. If such user is allowed to create new companies then ownership will be transfered.</p>
      <p>You just need to specify another user's uuid. This action is not revertable.</p>
    </div>
  </div>
</div>
