<%= render PageWrappers::UserComponent.new(current_user: current_user) do %>
  <h1 class="mb-8">Edit configuration</h1>
  <%=
    js_component 'CompanyEditPrivacy',
      company_uuid: @company.uuid,
      private: @company.configuration.private,
      accepted_invites: @accepted_invites,
      invites: @invites
  %>
<% end %>
