<%= render PageWrappers::UserComponent.new do %>
  <h1 class="mb-8">Edit configuration</h1>
  <%= form_with model: @company.configuration, url: company_configuration_path(@company.uuid), method: :patch do |form| %>
    <%=
      react_component 'CompanyConfiguration',
        privacyHtml: render(partial: 'access', locals: { form: form }).html_safe,
        workTimeHtml: render(partial: 'work_time', locals: { form: form }).html_safe,
        insightAttributesHtml: render(partial: 'insights', locals: { form: form }).html_safe,
        averageHtml: render(partial: 'average', locals: { form: form }).html_safe,
        ratiosHtml: render(partial: 'ratios', locals: { form: form }).html_safe,
        excludeRules: JSON.parse(@company.configuration.pull_request_exclude_rules.presence || '{}'),
        ignores: @ignores,
        webhooks: @webhooks,
        companyUuid: @company.uuid
    %>
    <%= form.submit 'Update configuration', class: 'btn-primary mt-8' %>
  <% end %>
<% end %>
