<%= render PageWrappers::UserComponent.new do %>
  <h1 class="mb-8">Edit configuration</h1>
  <%= form_with model: @company.configuration, url: company_configuration_path(@company.uuid), method: :patch do |form| %>
    <%=
      react_component 'CompanyConfiguration',
        privacyHtml: render(partial: 'access', locals: { form: form }).html_safe,
        fetchPeriodHtml: render(partial: 'fetch_period', locals: { form: form }).html_safe,
        longTimeReviewHtml: render(partial: 'long_time_review', locals: { form: form }).html_safe,
        workTimeHtml: render(partial: 'work_time', locals: { form: form }).html_safe,
        insightAttributesHtml: render(partial: 'insights', locals: { form: form }).html_safe,
        averageHtml: render(partial: 'average', locals: { form: form }).html_safe,
        ratiosHtml: render(partial: 'ratios', locals: { form: form }).html_safe,
        excludeGroups: @excludes_groups,
        ignores: @ignores,
        invites: @invites,
        webhooks: @webhooks.map { |notification| notification.except(:webhookable_id) },
        companyUuid: @company.uuid,
        notifications: @notifications.map { |notification| notification.except(:id) }
    %>
    <%= form.submit 'Update configuration', class: 'btn-primary mt-8' %>
  <% end %>
<% end %>
