<%= render PageWrappers::UserComponent.new do %>
  <div class="flex justify-between items-center mb-8">
    <h1 class="m-0">Companies</h1>
    <%= link_to 'Create company', new_company_path, class: 'btn-primary' %>
  </div>
  <section>
    <% @companies.each do |company| %>
      <%=
        react_component 'Company',
          uuid: company.uuid,
          title: company.title,
          repositories_count: company.repositories.size,
          repositories_url: company_repositories_path(company_id: company.uuid),
          unaccessable: company.access_token && !company.accessable,
          edit_links: allowed_to?(:update?, company) ? {
            access_token: new_company_access_token_path(company.uuid),
            new_repository: new_company_repository_path(company.uuid),
            configuration: edit_company_configuration_path(company.uuid),
            destroy: company_path(company.uuid)
          } : nil
      %>
    <% end %>
    <% if @pagy.pages > 1 %>
      <div class="mt-6"><%== pagy_nav(@pagy) %></div>
    <% end %>
  </section>
<% end %>
