@import '../../general/colors.scss';

#profile {
  .profile-block {
    h2 {
      padding-bottom: 1rem;
      border-bottom: 1px solid $gray300;

      &.warning {
        color: $red500;
        font-weight: 600;
      }
    }

    p {
      margin-bottom: 1rem;
      line-height: 1.5rem;
    }
  }
}
