<%= render PageWrappers::UserComponent.new do %>
  <div class="flex justify-between items-center mb-8">
    <h1 class="m-0">Repositories</h1>
    <% if allowed_to?(:create_repository?, Current.user) %>
      <%=
        react_component 'RepositoryForm',
          company_uuid: @company&.uuid,
          companies: Current.user.companies.hashable_pluck(:title, :uuid),
          providers: Repository.providers.map { |key, _| [key.capitalize, key] }
      %>
    <% end %>
  </div>
  <% if @repositories.any? { |repository| repository.company.user_id == Current.user.id && !repository.accessable } %>
    <div class="badge mb-4 p-4">
      <p>One of your repository has access error because of invalid access token permissions.</p>
      <p>To fix it you need to create new access token at Github/Gitlab and then refresh it here.</p>
      <p>But remember that you need to include required repositories to access token settings and approve token by repository owner.</p>
    </div>
  <% end %>
  <section>
    <% @repositories.each do |repository| %>
      <%=
        react_component 'Repository',
          uuid: repository.uuid,
          avatar_url: repository.owner_avatar_url,
          title: repository.title,
          synced_at: repository.synced_at,
          next_synced_at: (DateTime.now + 1.hour).beginning_of_hour,
          provider: repository.provider,
          repository_url: repository.link,
          access_token_status: repository.access_token_status,
          accessable: repository.accessable,
          main_attribute: repository.configuration.main_attribute,
          edit_links: allowed_to?(:update?, repository) ? {
            access_token: new_repository_access_token_path(repository.uuid),
            destroy: repository_path(repository.uuid)
          } : nil
      %>
    <% end %>
    <% if @pagy.pages > 1 %>
      <div class="mt-6"><%== pagy_nav(@pagy) %></div>
    <% end %>
  </section>
<% end %>
