<%= render PageWrappers::UserComponent.new do %>
  <div class="flex justify-between items-center mb-8">
    <h1 class="m-0">Repositories</h1>
    <% if allowed_to?(:create_repository?, Current.user) %>
      <%= link_to 'Create repository', @company ? new_company_repository_path(@company.uuid) : new_repository_path, class: 'btn-primary' %>
    <% end %>
  </div>
  <section>
    <% @repositories.each do |repository| %>
      <%=
        react_component 'Repository',
          uuid: repository.uuid,
          title: repository.title,
          synced_at: repository.synced_at ? repository.synced_at.strftime('%d.%m %H:%M') : 'no data',
          repository_url: repository.link,
          unaccessable: repository.fetch_access_token && !repository.accessable,
          edit_links: allowed_to?(:update?, repository) ? {
            access_token: new_repository_access_token_path(repository.uuid),
            destroy: repository_path(repository.uuid)
          } : nil
      %>
    <% end %>
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </section>
<% end %>
