<%= render PageWrappers::PageComponent.new do %>
  <h1>Pull requests</h1>
  <section class="table-list">
    <% @repository.pull_requests.each do |pull_request| %>
      <div class="table-list-element">
        <p><%= pull_request.pull_number %></p>
        <p><%= link_to "PR's link", "https://github.com/#{@repository.company.name}/#{@repository.name}/pull/#{pull_request.pull_number}" %></p>
      </div>
    <% end %>
  </section>
<% end %>
