@import '../general/colors.scss';

.page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow-x: hidden;

  .page-content {
    flex: 1;
    width: 100%;
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0 4rem;

    &.welcome-page {
      max-width: none;
      margin: 0;
      background: $white;

      .global-container {
        max-width: 90rem;
        margin: 2rem auto;
      }
    }
  }
}
