$gray100: #f3f4f6;
$gray200: #e5e7eb;
$gray300: #d1d5db;
$gray400: #94a3b8;
$gray800: #1f2937;

$sky200: #bae6fd;
$sky300: #7dd3fc;
$sky400: #38bdf8;

$green200: #bbf7d0;
$green300: #86efac;
$green400: #4ade80;
$green500: #22c55e;
$green600: #16a34a;

$red300: #fca5a5;
$red400: #f87171;
$red500: #ef4444;

$orange400: #fb923c;

$white: #ffffff;
$black: #000000;
