<div class="py-6 px-8">
  <div class="grid lg:grid-cols-2 gap-8">
    <div>
      <% if @end_time %>
        <p>Your premium subscription ends <%= @end_time.strftime('%d.%m.%Y') %> at <%= @end_time.strftime('%H:%M') %> UTC</p>
      <% else %>
        <p>You don't have active subscription.</p>
      <% end %>
    </div>
    <div>
      <p>Here you can see information about your active subscriptions.<%= @used_trial_subscription ? '' : " You can activate trial subscription for #{Subscription::TRIAL_PERIOD_DAYS} days without any credit card." %></p>
    </div>
  </div>
  <% unless @used_trial_subscription %>
    <%= button_to 'Activate trial subscription', subscriptions_trial_path, class: 'btn-primary mt-4' %>
  <% end %>
</div>
