<%= render PageWrappers::UserComponent.new(current_user: current_user) do %>
  <h1 class="mb-8">Profile <%= current_user.uuid %></h1>
  <%= render(partial: 'identities') %>
  <%=
    react_component 'ProfileConfiguration',
      premiumHtml: render(partial: 'premium').html_safe,
      settingsHtml: render(partial: 'user_settings').html_safe,
      deleteHtml: render(partial: 'delete').html_safe,
      vacations: @vacations,
      acceptedInvites: @accepted_invites,
      invites: @invites,
      apiAccessTokens: @api_access_tokens
  %>
  <script src="https://api.cryptocloud.plus/static/pay_btn/js/app.js"></script>
<% end %>
