<%= render PageWrappers::PageComponent.new do %>
  <div class="list-title flex justify-between items-center">
    <h1>Profile</h1>
  </div>
  <section id="profile">
    <div class="profile-block form-block">
      <h2 class="warning">Delete account</h2>
      <p class="line-height">You can delete your account. This is an irreversible action. All your identities, companies, repositories, access tokens and statistics will be destroyed with no chance of recovery.</p>
      <%= button_to 'Delete account', profile_path, class: 'button danger', method: :delete, onclick: "return confirm('Are you sure you wish to delete account?')" %>
    </div>
  </section>
<% end %>
