<%= render PageWrappers::UserComponent.new do %>
  <h1 class="mb-12">Your payment has been failed.</h1>
  <p class="mb-8">We received an error message when you making a payment.</p>
  <p class="mb-8">Contact us with feedback form if you have any questions.</p>
<% end %>
