<%= render PageWrappers::GuestComponent.new do %>
  <section class="mx-auto my-24">
    <h1>Source code</h1>
    <p>You can check source code of application at <a href="https://github.com/kortirso/pullmetry" target="_blank" rel="noopener noreferrer">Github repository</a>.</p>
    <p>If you have any suggestions then you can create issue at <a href="https://github.com/kortirso/pullmetry/issues" target="_blank" rel="noopener noreferrer">Github issues</a>.</p>
    <p>You can fork repository, run it locally or even run it on your own production server.</p>
  </section>
<% end %>
