<%= render PageWrappers::GuestComponent.new do %>
  <% cache('sources_v1', expires_in: 24.hours) do %>
    <section class="mx-auto my-12">
      <h1>Source code</h1>
      <p class="leading-8">You can check source code of application at <a href="https://github.com/kortirso/pullmetry" target="_blank" rel="noopener noreferrer" class="simple-link">Github repository</a>.</p>
      <p class="leading-8">If you have any suggestions then you can create issue at <a href="https://github.com/kortirso/pullmetry/issues" target="_blank" rel="noopener noreferrer" class="simple-link">Github issues</a>.</p>
      <p class="leading-8">You can fork repository, run it locally or even run it on your own production server.</p>
    </section>
  <% end %>
<% end %>
