<%= render PageWrappers::GuestComponent.new do %>
  <div class="flex flex-1 justify-center items-center">
    <p class="text-2xl uppercase">Subscription for newslist is canceled</p>
  </div>
<% end %>
