que_view:
  username:
  password:

emailbutler:
  username:
  password:

smtp:
  domain:
  username:
  password:

reports_webhook_url:
reports_telegram_chat_id:

pghero:
  username:
  password:

database_password:

# github_oauth
github_oauth:
  production:
    client_id:
    client_secret:
    redirect_url: https://pullkeeper.dev/auth/github/callback
  development:
    client_id:
    client_secret:
    redirect_url: http://localhost:5000/auth/github/callback

# gitlab_oauth
gitlab_oauth:
  production:
    client_id:
    client_secret:
    redirect_url: https://pullkeeper.dev/auth/gitlab/callback
  development:
    client_id:
    client_secret:
    redirect_url: http://localhost:5000/auth/gitlab/callback

# telegram_oauth
telegram_oauth:
  development:
    bot_name:
    bot_secret:
    redirect_url:
  production:
    bot_name:
    bot_secret:
    redirect_url: https://pullkeeper.dev/auth/telegram/callback

# que web secrets
queweb:
  user:
  password:

# skylight secret
secret_key_skylight:

# bugsnag secret
secret_key_bugsnag:

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base:
