@import '../../general/colors.scss';

#achievements-box {
  display: flex;

  .achievement-groups {
    width: 18rem;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem;

    .total-points {
      text-align: center;
      margin-bottom: 1rem;
    }

    a {
      padding: .5rem 1rem;
      background: $green200;
      border-radius: .25rem;
      margin-bottom: .5rem;
      color: $black;
      text-decoration: none;

      &.active {
        background: $green600;
        color: $white;
      }

      &:hover {
        background: $green400;
      }
    }
  }

  .achievements {
    flex: 1;

    .achievement {
      border-radius: .25rem;
      overflow: hidden;
      position: relative;

      &:nth-of-type(n+2) {
        margin-top: .5rem;
      }

      .achievement-name {
        position: relative;
        text-align: center;
        background: $green600;
        color: $white;
        padding: .4rem 4.25rem;

        p {
          font-size: 1.25rem;
        }

        .achievement-earned {
          position: absolute;
          top: .5rem;
          right: 4.25rem;
          font-size: 1rem;
        }
      }

      .achievement-description {
        text-align: center;
        background: $green200;
        padding: .4rem 4.25rem;
        font-size: .9rem;
      }

      .achievement-points {
        position: absolute;
        top: .625rem;
        right: .625rem;
        width: 3rem;
        height: 3rem;
        background: $orange400;
        border-radius: .25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        font-weight: 600;
      }

      &.unreceived {
        opacity: 0.75;

        .achievement-name {
          background: $gray400;
        }

        .achievement-description {
          background: $gray200;
        }

        .achievement-points {
          background: $white;
        }
      }
    }
  }
}

@media only screen and (max-width: 60rem) {
  #achievements-box {
    flex-direction: column;

    .achievements {
      .achievement {
        .achievement-name {
          .achievement-earned {
            display: none;
          }
        }
      }
    }
  }
}
