<%= render PageWrappers::UserComponent.new(current_user: current_user) do %>
  <section class="p-8 lg:p-12">
    <h1 class="mb-7">Creating access tokens</h1>
    <p class="mb-4">For fetching pull requests data from Github your company or repository must have attached Personal Access Token (PAT).</p>
    <p class="mb-2">For creating this PAT you need:</p>
    <ul class="ul mb-0">
      <li>visit <a href="https://github.com/settings/personal-access-tokens/new" target="_blank" rel="noopener noreferrer" class="simple-link">Github token generating page</a>, or <a href="https://gitlab.com/-/user_settings/personal_access_tokens" target="_blank" rel="noopener noreferrer" class="simple-link">Gitlab token generating page</a></li>
      <li>set token name and expiration time,</li>
      <li>in Repository access area - select for which repositories you want to create token,</li>
    </ul>
    <p class="mt-4">If you create access token for repository - select only 1 repository for your PAT.</p>
    <p class="mb-4">If you create access token for company - you can select many repositories, all repositories of this company will use the same access token.</p>
    <div class="grid lg:grid-cols-2">
      <%= image_tag 'selected-repos.webp', width: 600, height: 300, alt: 'permissions', class: 'my-4 box' %>
    </div>
    <ul class="ul mt-4">
      <li>select required repository permissions, they must be only <strong class="text-tart-orange">READ-ONLY</strong> for <strong class="text-tart-orange">Pull requests</strong> and <strong class="text-tart-orange">Issues</strong>,</li>
    </ul>
    <div class="grid lg:grid-cols-2 gap-8 my-8">
      <%= image_tag 'permissions.webp', width: 616, height: 406, alt: 'permissions', class: 'box' %>
      <%= image_tag 'overview.webp', width: 600, height: 299, alt: 'overview', class: 'box' %>
    </div>
    <ul class="ul">
      <li>click Generate token and then you could copy it,</li>
      <li>if you are not repository owner - then it requires for owner to approve PAT token,</li>
      <li>if token expires - you will receive email from Github and then you will need to refresh it at Github and refresh here if changed.</li>
    </ul>
  </section>
<% end %>
