<%= render PageWrappers::GuestComponent.new do %>
  <% cache('metrics_v4', expires_in: 24.hours) do %>
    <section class="mx-auto my-12">
      <h1>Review quality metrics</h1>
      <p class="mb-12">These metrics reflects quality of review performed by developer with PRs of other developers.</p>
      <h2 class="text-2xl">Required reviews count</h2>
      <p class="mb-8">Some pull requests may have a list of developers who were required to conduct a review. This metric just shows amount of such PRs for each developer.</p>
      <h2 class="text-2xl">Comments count</h2>
      <p class="mb-8">This metric shows the number of comments that developer leaves in the PRs of other developers. Higher value is better and means that developer more thoroughly reviews the code (or maybe code quality of PRs are low).</p>
      <h2 class="text-2xl">Conventional comments count</h2>
      <p class="mb-8">This metric shows the number of comments match <a href="https://conventionalcomments.org/" class="simple-link">standard for formatting comments</a>, it's always good to have good formatted useful comments so higher value is better and means that developer more often makes great comments.</p>
      <h2 class="text-2xl">Reviews count</h2>
      <p class="mb-8">This metric shows the number of approved PRs by developer. Higher value is better and means that developer more often approves pull requests.</p>
      <h2 class="text-2xl">Bad reviews count</h2>
      <p class="mb-8">This metric shows the number of rejected/declined PRs by developer. Lower value is better and means that developer more often makes good reviews.</p>
      <h2 class="text-2xl">Review involving</h2>
      <p class="mb-8">This metric shows ratio of number of pull requests where developer leaves at least 1 comment or approves it to total number of PRs. Higher value is better and means that developer participates in more reviews of PRs (ideal result is 100%).</p>
      <h2 class="text-2xl">Average review time</h2>
      <p class="mb-8">This metric shows average time that developer spends on review (time between creating and approving PR). Lower value is better.</p>
      <h2 class="text-2xl">Reviewed LOC and average reviewed LOC</h2>
      <p class="mb-8">This metric shows lines of code (LOC) reviewed by developer. Higher value is better and means that developer participates in reviewing bigger PRs.</p>
      <h1>Code quality metrics</h1>
      <p class="mb-12">These metrics reflects code quality of developer's pull requests.</p>
      <h2 class="text-2xl">Open pull requests</h2>
      <p class="mb-8">This metric shows the number of PRs opened by developer.</p>
      <h2 class="text-2xl">Time since last open pull request</h2>
      <p class="mb-8">This metric shows the time since developer opened last pull request.</p>
      <h2 class="text-2xl">Average merge time</h2>
      <p class="mb-8">This metric shows average time that developer spends on merging PRs (time between creating and merging). Lower value is better and means that developer closes tasks very quickly and more code are delivered to production.</p>
      <h2 class="text-2xl">Average PR comments</h2>
      <p class="mb-8">This metric shows average amount of comments that developer receives in his PRs. Lower value is better and means that PRs have good quality of code.</p>
      <h2 class="text-2xl">Changed LOC and average changed LOC</h2>
      <p class="mb-8">This metric shows lines of code changed by developer in his PRs.</p>
    </section>
  <% end %>
<% end %>

