<%= render PageWrappers::AuthComponent.new do %>
  <div class="user-form">
    <h2><%= t('views.users.confirmations.failed_complete.title') %></h2>
    <p><%= t('views.users.confirmations.failed_complete.description') %></p>
  </div>
<% end %>
