@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap');

nav {
  background: #18191F;
}

.navigation-menu:not(.hidden) {
  @apply absolute w-full z-10 top-14 left-0 px-4 py-2;

  background: #18191F;
}

.header-logo {
  @apply text-lg font-medium lg:mb-10 py-4 lg:py-0 font-martian;
}

.user-navigation-link {
  @apply relative inline-block text-white leading-6 whitespace-nowrap flex flex-row items-center mb-4 p-2.5 pl-3;
}

.user-navigation-link span:nth-of-type(1) {
  @apply w-6 flex justify-center;
}

.user-navigation-link span:nth-of-type(2) {
  @apply ml-2;
}

.user-navigation-link svg {
  color: #A2D8EB;
}

.user-navigation-link.active {
  @apply rounded-lg;

  background: #FBA346;
}

.user-navigation-link.active svg {
  @apply text-white;
}
