@import '../../../general/colors.scss';

#configuration-form {
  #work-times {
    display: flex;
    flex-direction: row;

    #jsonb_columns_configuration_work_time_zone {
      width: 100%;
    }

    .form-field {
      display: inline-block;
      margin-right: 2rem;
    }
  }

  #insight-attributes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .insight-attribute {
      width: 50%;
      margin-bottom: .5rem;
    }
  }
}

#profile {
  #work-times {
    display: flex;
    flex-direction: row;

    #user_work_time_zone {
      width: 100%;
    }

    .form-field {
      display: inline-block;
      margin-right: 2rem;
    }
  }
}

#jsonb_columns_configuration_use_work_time,
#jsonb_columns_configuration_insight_ratio,
#user_use_work_time {
  width: auto;
  margin-bottom: 1rem;
}

#jsonb_columns_configuration_use_work_time+#work-times,
#jsonb_columns_configuration_insight_ratio+#insight-ratio-types,
#user_use_work_time+#work-times {
  display: none;
}

#jsonb_columns_configuration_use_work_time:checked+#work-times,
#jsonb_columns_configuration_insight_ratio:checked+#insight-ratio-types,
#user_use_work_time:checked+#work-times {
  display: block;
}
