@import '../../../general/colors.scss';

#configuration-form {
  #work-times {
    display: flex;
    flex-direction: row;

    .form-field {
      display: inline-block;
      margin-right: 2rem;
    }
  }

  #insight-attributes {
    display: flex;
    flex-wrap: wrap;

    .insight-attribute {
      width: 50%;
      margin-bottom: .5rem;
    }
  }
}

#jsonb_columns_configuration_use_work_time {
  width: auto;
  margin-bottom: 1rem;
}

#jsonb_columns_configuration_use_work_time+#work-times {
  display: none;
}

#jsonb_columns_configuration_use_work_time:checked+#work-times {
  display: block;
}
