<footer class="bg-zinc-800 text-white flex flex-col-reverse sm:flex-row justify-between p-8">
  <div>
    <span class="copyright">&copy;</span> 2023 PullKeeper, v1.5.3
  </div>
  <div class="flex grid-x gap-8 mb-4 sm:mb-0">
    <a href="https://t.me/kortirso" target="_blank" rel="noopener noreferrer">Support in Telegram</a>
    <%= link_to 'How it works', how_it_works_path %>
    <%= link_to 'Source code', sources_path %>
    <%= link_to 'Privacy policy', privacy_path %>
  </div>
</footer>
