<footer class="bg-zinc-800 text-white flex flex-col-reverse sm:flex-row justify-between p-8">
  <div>
    <span class="copyright">&copy;</span> 2024 PullKeeper, v1.7.2
  </div>
  <div class="flex flex-wrap grid-x gap-8 mb-8 sm:mb-0">
    <a href="https://t.me/kortirso" target="_blank" rel="noopener noreferrer">Support in Telegram</a>
    <% if Current.user %>
      <%= react_component 'FeedbackForm', children: ("<span class='cursor-pointer'>Feedback</span>").html_safe %>
    <% end %>
    <%= link_to 'Metrics', metrics_path, data: { 'test-id' => 'footer-metrics-link' } %>
    <%= link_to 'Privacy policy', privacy_path, data: { 'test-id' => 'footer-privacy-link' } %>
  </div>
</footer>
