@import '../../general/colors.scss';

.list-title {
  margin-bottom: 1.5rem;

  h1 {
    margin-bottom: 0
  }
}

.list-form {
  form {
    width: 35rem;
    max-width: 100%;
    display: inline-block;

    .form-value {
      width: 100%;
    }
  }
}

.list {
  .list-element {
    display: flex;

    .list-element-header {
      flex: 3;

      p {
        margin-bottom: 1.5rem;
      }

      .insightable-actions {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        a {
          margin-bottom: .5rem;
        }
      }
    }

    .list-element-insights {
      flex: 7;

      .table {
        border-collapse: collapse;

        th, td {
          border: 1px solid $gray300;
          padding: .5rem 1rem;
        }

        tr {
          th {
            font-weight: 400;
          }
        }

        td {
          white-space: nowrap;
        }

        tbody {
          tr {
            &:nth-of-type(2n) {
              background: $gray100;
            }
          }
        }

        td.image {
          img {
            width: 1.4rem;
            height: 1.4rem;
          }
        }

        .negative {
          color: $red500;
        }

        .positive {
          color: $green500;
        }
      }
    }
  }
}

@media only screen and (max-width: 75rem) {
  .list {
    .list-element {
      flex-direction: column;

      .list-element-header {
        margin-bottom: 2rem;
      }

      .list-element-insights {
        overflow-x: scroll;
      }
    }
  }
}
