@import '../../general/colors.scss';

.list-title {
  margin-bottom: 1.5rem;

  h1 {
    margin-bottom: 0
  }
}

.list-form {
  form {
    min-width: 22rem;
    display: inline-block;
    background: $white;
    padding: 1.5rem;

    .form-value {
      width: 100%;
    }
  }
}

.list {
  .list-element {
    display: flex;
    background: $white;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0.4rem 2rem, rgba(0, 0, 0, 0.18) 0 0.15rem 0.5rem;
    margin-bottom: 1.5rem;

    .list-element-header {
      flex: 3;

      p {
        margin-bottom: 1.5rem;
      }
    }

    .list-element-insights {
      flex: 7;

      .table {
        border-collapse: collapse;

        th, td {
          border: 1px solid $gray300;
          padding: .5rem 1rem;
        }

        tr {
          th {
            font-weight: 400;
          }
        }

        td.image {
          img {
            width: 1.4rem;
            height: 1.4rem;
          }
        }
      }
    }
  }
}
