@import '../../general/colors.scss';

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

  .list-element {
    background: $white;
    padding: 1.5rem 1.5rem 0;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0.4rem 2rem, rgba(0, 0, 0, 0.18) 0px 0.15rem 0.5rem;

    p {
      margin-bottom: 1.5rem;
    }
  }
}

.table-list {
  display: flex;
  flex-direction: column;

  .table-list-element {
    display: flex;
    background: $white;
    padding: .5rem;
    margin-bottom: .25rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0.4rem 2rem, rgba(0, 0, 0, 0.18) 0px 0.15rem 0.5rem;
  }
}
