@import '../../general/colors.scss';

#page-navigation {
  background: $gray100;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    margin-right: 1rem;
    color: $black;
  }
}
