@import '../../general/colors.scss';

#page-navigation {
  background: $sky200;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.75rem;

  a {
    margin-right: 1rem;
    color: $black;
  }

  #auth-links {
    display: flex;
    align-items: center;

    span {
      margin-right: 1rem;
    }
  }
}

#page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  p {
    font-size: 2.5rem;
    font-weight: 400;
  }
}
