@import '../../general/colors.scss';

.pagination {
  margin-bottom: 1rem;

  .page {
    padding: .5rem .75rem;
    background: $green200;

    a {
      color: $black;
    }

    &.active {
      background: $green300;
    }

    &.prev, &.next {
      a {
        text-decoration: none;
      }
    }
  }
}
