<div class="auth-page">
  <div class="auth-content main-container">
    <section class="half-container flex-1">
    </section>
    <section class="half-container flex flex-1 items-center justify-center">
      <%= content %>
    </section>
  </div>
</div>
