<div class="flex flex-col lg:flex-row flex-1 max-h-screen">
  <%= render 'shared/user_navigation' %>
  <div class="flex-1 w-full p-8 lg:p-12 overflow-y-scroll bg-zinc-100">
    <%= content %>
  </div>
</div>
